<form action="/node/<%= host %>/<%= port %>/auth-sign-in" method="post" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-cogs"></i> Connect to RStudio
  </button>
</form>